# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Sander0542.UnraidAPI.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Sander0542\UnraidAPI\.idea\.idea.Sander0542.UnraidAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
